html, body, #app {
    height: 100vh;
    /*overflow: hidden;*/
    width: 100%;
}

.navbar_container {
    z-index: 9999;
}

.navbar_container a {
    color: #000 !important;
}

.header_logo_container {
    margin-left: 20px;
}

.header_logo_container img {
    width: 150px;
}

.hero_img_container {
    width: 100% !important;
    height: 500px;
    /*position: absolute;*/
    padding-left: 0px !important;
    overflow: hidden;
}

.pages_hero_img_container {
    width: 100% !important;
    height: 400px;
    padding-left: 0px !important;
    overflow: hidden;
    margin-top: -35px !important;
}

.hero_img_container_img {
    margin-top: -10% !important;
}

.hero_img_container img {
    width: 100%;
}

.landing_services_card {
    float: left;
}

.landing_container {
    margin-top: 20px;
    max-width: 1400px !important;
}

.text_heading_container {
    font-size: 30px;
    text-align: center;
}

.landing_review_container {
    padding: 10px !important;
    float: left;
}

.trucks_list_container {
    padding-right: 20px !important;
}

.trucks_card_container {
    margin-bottom: 10px !important;
    padding: 20px !important;
}

.trucks_card_container img {
    width: 250px;
}

.truck_card_img_container {
    float: left;
    margin-right: 20px;
}

.truck_title_container {
    font-size: 25px;
}

.truck_description_container {
    margin-top: 20px;
    /*margin-right: 100px;*/
}

.uk-label {
    margin-right: 20px;
}

.truck_card_main_container {
    margin-right: 150px;
}

.truck_view_details_btn {
    position: absolute;
    top: 20px;
    right: 0;
}
